@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.healthinfo-textarea {
    padding: 10px;
    font-size: medium;
    resize: horizontal;
    min-height: 100px;
    height: 300px;
    color: black;
    border: black;
    width: min-content;
    font-family: sans-serif;
    width: 180px;
}

.questionFont {
    font-family:sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.fontFormat {
    font-family: sans-serif;
}

.buttonBorder{
    border: ridge;
}